//! **************************************************************************
// Written by: Map M.63c on Sat Apr 06 15:44:45 2013
//! **************************************************************************

SCHEMATIC START;
COMP "ps2_clk" LOCATE = SITE "P59" LEVEL 1;
COMP "ps2_data" LOCATE = SITE "P60" LEVEL 1;
COMP "SDSS" LOCATE = SITE "P88" LEVEL 1;
COMP "SDCLK" LOCATE = SITE "P84" LEVEL 1;
COMP "ERSTn" LOCATE = SITE "P78" LEVEL 1;
COMP "hsync" LOCATE = SITE "P4" LEVEL 1;
COMP "green<0>" LOCATE = SITE "P13" LEVEL 1;
COMP "green<1>" LOCATE = SITE "P12" LEVEL 1;
COMP "green<2>" LOCATE = SITE "P10" LEVEL 1;
COMP "clk_25MHz" LOCATE = SITE "P83" LEVEL 1;
PIN clk_25MHz_pin<0> = BEL "clk_25MHz" PINNAME PAD;
PIN "clk_25MHz_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "red<0>" LOCATE = SITE "P15" LEVEL 1;
COMP "red<1>" LOCATE = SITE "P16" LEVEL 1;
COMP "red<2>" LOCATE = SITE "P19" LEVEL 1;
COMP "audioR" LOCATE = SITE "P98" LEVEL 1;
COMP "CE1" LOCATE = SITE "P50" LEVEL 1;
COMP "audiol" LOCATE = SITE "P99" LEVEL 1;
COMP "vsync" LOCATE = SITE "P3" LEVEL 1;
COMP "blue<0>" LOCATE = SITE "P9" LEVEL 1;
COMP "blue<1>" LOCATE = SITE "P6" LEVEL 1;
COMP "blue<2>" LOCATE = SITE "P5" LEVEL 1;
COMP "RAMOEn" LOCATE = SITE "P20" LEVEL 1;
COMP "SDMISO" LOCATE = SITE "P86" LEVEL 1;
COMP "RAMWRn" LOCATE = SITE "P64" LEVEL 1;
COMP "RamA<10>" LOCATE = SITE "P77" LEVEL 1;
COMP "SDMOSI" LOCATE = SITE "P85" LEVEL 1;
COMP "RamA<11>" LOCATE = SITE "P90" LEVEL 1;
COMP "RamA<12>" LOCATE = SITE "P93" LEVEL 1;
COMP "RamA<13>" LOCATE = SITE "P94" LEVEL 1;
COMP "RamA<14>" LOCATE = SITE "P25" LEVEL 1;
COMP "RamA<15>" LOCATE = SITE "P89" LEVEL 1;
COMP "RamA<0>" LOCATE = SITE "P52" LEVEL 1;
COMP "RamD<10>" LOCATE = SITE "P40" LEVEL 1;
COMP "RamA<1>" LOCATE = SITE "P56" LEVEL 1;
COMP "RamD<11>" LOCATE = SITE "P41" LEVEL 1;
COMP "RamA<2>" LOCATE = SITE "P57" LEVEL 1;
COMP "RamD<12>" LOCATE = SITE "P43" LEVEL 1;
COMP "RamA<3>" LOCATE = SITE "P61" LEVEL 1;
COMP "RamD<13>" LOCATE = SITE "P44" LEVEL 1;
COMP "RamA<4>" LOCATE = SITE "P62" LEVEL 1;
COMP "RamD<14>" LOCATE = SITE "P48" LEVEL 1;
COMP "RamA<5>" LOCATE = SITE "P65" LEVEL 1;
COMP "RamD<15>" LOCATE = SITE "P49" LEVEL 1;
COMP "RamA<6>" LOCATE = SITE "P70" LEVEL 1;
COMP "RamA<7>" LOCATE = SITE "P71" LEVEL 1;
COMP "RamA<8>" LOCATE = SITE "P72" LEVEL 1;
COMP "RamA<9>" LOCATE = SITE "P73" LEVEL 1;
COMP "RamD<0>" LOCATE = SITE "P28" LEVEL 1;
COMP "RamD<1>" LOCATE = SITE "P29" LEVEL 1;
COMP "RamD<2>" LOCATE = SITE "P30" LEVEL 1;
COMP "RamD<3>" LOCATE = SITE "P31" LEVEL 1;
COMP "RamD<4>" LOCATE = SITE "P32" LEVEL 1;
COMP "RamD<5>" LOCATE = SITE "P33" LEVEL 1;
COMP "RamD<6>" LOCATE = SITE "P34" LEVEL 1;
COMP "RamD<7>" LOCATE = SITE "P35" LEVEL 1;
COMP "RamD<8>" LOCATE = SITE "P36" LEVEL 1;
COMP "RamD<9>" LOCATE = SITE "P37" LEVEL 1;
PIN pll2/DCM_INST/DCM_SP_pin<10> = BEL "pll2/DCM_INST/DCM_SP" PINNAME CLKIN;
PIN "pll2/DCM_INST/DCM_SP_pin<10>" CLOCK_DEDICATED_ROUTE = FALSE;
SCHEMATIC END;

